<table><button (click)="getCompanyExpenses()">get company expenses</button></table>
<br>

<table *ngIf="incomesByCompany" border="1" align="center">

    <tr>
        <th>Id</th>
        <th>Client type</th>
        <th>Client Id</th>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    <tr *ngFor="let income of incomesByCompany">
        <td>{{ income.id }}</td>
        <td>{{ income.clientType }}</td>
        <td>{{ income.clientId }}</td>
        <td>{{ income.name }}</td>
        <td>{{ income.date }}</td>
        <td>{{ income.description }}</td>
        <td>{{ income.amount }}</td>
    </tr>
</table>
