<h1>
    <h1 class="main-header">
      admin business delegate
    </h1>
</h1>
    
    <app-menu></app-menu>




<h2>
    get all incomes
</h2>

<app-get-all-incomes></app-get-all-incomes>

<br><br>

<h2>
    get all incomes by companies
</h2>

<app-get-all-incomes-by-companies></app-get-all-incomes-by-companies>

<br><br>

<h2>
    get all incomes by customers
</h2>

<app-get-all-incomes-by-customers></app-get-all-incomes-by-customers>

<br><br>

<h2>
    get incomes by specific company
</h2>

<app-get-incomes-by-specific-company></app-get-incomes-by-specific-company>

<br><br>

<h2>
    get incomes by specific customer
</h2>

<app-get-incomes-by-specific-customer></app-get-incomes-by-specific-customer>

<br><br>

<div>
    <footer>
        <h3>
            All Rights Reserved &copy;
        </h3>
    </footer>

</div>
