<table><button (click)="getCustomerDetails()">get customer details</button></table>
<br>

<table *ngIf="oneCustomer" align="center" >
        <tr>
            <td>
                <table border="1">
                    <tr text-align="center">
                        <span>{{ oneCustomer.firstName }}  {{ oneCustomer.lastName }} details</span>
                    </tr>
                    <tr>
                        <th>Id</th><td>{{ oneCustomer.id }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th><td>{{ oneCustomer.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last name</th><td>{{ oneCustomer.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Email</th><td>{{ oneCustomer.email }}</td>
                    </tr>
                    <tr>
                        <th>Password</th><td>{{ oneCustomer.password }}</td>
                    </tr>
                </table>
            </td>
            <td>
                    <table  border="1" align="center">
                            <tr text-align="center">
                               <span>{{ oneCustomer.firstName }} {{ oneCustomer.lastName }}  coupons</span>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>Company ID</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Image</th>
                            </tr>
                            <tr *ngFor="let coupons of oneCustomer.coupons">
                                <td>{{ coupons.id }}</td>
                                <td>{{ coupons.companyId }}</td>
                                <td>{{ coupons.category }}</td>
                                <td>{{ coupons.title }}</td>
                                <td>{{ coupons.description }}</td>
                                <td>{{ coupons.startDate }}</td>
                                <td>{{ coupons.endDate }}</td>
                                <td>{{ coupons.amount }}</td>
                                <td>{{ coupons.price  }}</td>
                                <td>{{ coupons.image }}</td>
                
                            </tr>
                        </table>
            </td>
    
        </tr>
    </table>
