
<table>
    <tr>
        <td><a routerLink="/home" routerLinkActive="the-chosen-one">home</a></td>
        <td><span> | </span></td>
        <td><a routerLink="/admin-facade" routerLinkActive="the-chosen-one">admin service</a></td>
        <td><span> | </span></td>
        <td><a routerLink="/admin-business-delegate" routerLinkActive="the-chosen-one">admin business delegate</a></td>
        <td><span> | </span></td>
        <td><a routerLink="/company-facade" routerLinkActive="the-chosen-one">company service</a></td>
        <td><span> | </span></td>
        <td><a routerLink="/customer-facade" routerLinkActive="the-chosen-one">customer service</a></td>
    </tr>
</table>
