<table><button (click)="getCompanyDetails()">get company details</button></table>
<br>

<table *ngIf="oneCompany" align="center" >
        <tr>
            <td>
                <table border="1">
                    <tr text-align="center">
                        <span>{{ oneCompany.name }} details</span>
                    </tr>
                    <tr>
                        <th>Id</th><td>{{ oneCompany.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th><td>{{ oneCompany.name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th><td>{{ oneCompany.email }}</td>
                    </tr>
                    <tr>
                        <th>Password</th><td>{{ oneCompany.password }}</td>
                    </tr>
                </table>
            </td>
            <td>
                    <table  border="1" align="center">
                            <tr text-align="center">
                               <span>{{ oneCompany.name }} coupons</span>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <th>Company ID</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Image</th>
                            </tr>
                            <tr *ngFor="let coupons of oneCompany.coupons">
                                <td>{{ coupons.id }}</td>
                                <td>{{ coupons.companyId }}</td>
                                <td>{{ coupons.category }}</td>
                                <td>{{ coupons.title }}</td>
                                <td>{{ coupons.description }}</td>
                                <td>{{ coupons.startDate }}</td>
                                <td>{{ coupons.endDate }}</td>
                                <td>{{ coupons.amount }}</td>
                                <td>{{ coupons.price  }}</td>
                                <td>{{ coupons.image }}</td>
                
                            </tr>
                        </table>
            </td>
    
        </tr>
    </table>

